
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center">
        <h1 class="mb-4">Welcome to Job Portal</h1>
        <p class="lead">Please select your role:</p>

        <div class="btn-group btn-group-lg" role="group" aria-label="User Role">
          <a type="button" class="btn btn-primary mr-3" href="/jobListings">I'm
            Job Seeker</a>
          <a type="button" class="btn btn-success" href="/register">I'm Job
            Recruiter</a>
        </div>
      </div>
    </div>
  </div>
</div>